{% extends "layout.html" %}

{% block content %}


<html>
   <body>
    <form action="#attractions" method="post">
        <div class="form-floating mb-3" style="width: 50%; margin-left: 25%;">
            <label for="name">Name</label><br>
            <input class="form-control" placeholder="Name" type="text" name="name_response" style="background-color: #B9B9B1;" required/>
        </div>

        <!-- query -->              
        <div class="form-floating mb-3" style="width: 50%; margin-left: 25%;">
            <label for="color">Color</label><br>
            <input class="form-control" placeholder="Color" type="text" name="color_response" style="background-color: #B9B9B1;" required/>
        </div>

        <div class="form-floating mb-3" style="width: 50%; margin-left: 25%;">
            <label for="category">Category</label><br>
            <select id="category" name="category_response" class="form-control" style="background-color: #B9B9B1;" required>
                <option value="accessories">Accessories</option>
                <option value="tops">Tops</option>
                <option value="bottoms">Bottoms</option>
                <option value="shoes">Shoes</option>
            </select>

            <br><br><button class="btn btn-primary" type="submit">Submit</button>

        </div>

    </form>
   </body>
</html>

{% endblock %}